body {
  color: #fff;
  background-color: #111;
  font-family: 'Courier New', Courier, monospace;
}

.App {
  text-align: center;
  padding: 5%;
}

.form {
  display: inline-block;
  width: 300px;
}

._row {
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 45px;
  border: 1px solid gray;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

button {
  width: 150px;
  padding: 6px;
  background-color: darkgoldenrod;
  color: #fff;
  margin-bottom: 20px;
  cursor: pointer;
}

.winner-area {
  position: relative;
  animation-name: move-in;
  animation-duration: 4s;
}

.winner-area h4 {
  display: inline-block;  
  color: darkgoldenrod;
  font-weight: 700;
}

.scoreboard ul {
  animation-name: fade-in;
  animation-duration: 4s;
}

.scoreboard ul li {
  display: block;
  margin: 12px 0;
  padding: 5px;
  border: 1px solid #fff;
  list-style: none;
  box-shadow: 1px ​4px 8px 3px #888888;
}

@keyframes fade-in {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes move-in {
  0% {
    left: 0px;
    top: 0px;
  }
  50% {
    left: 200px;
    top: 200px;
  }
  75% {
    left: 0px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}